

<div class="product-reviews">
    <% @comments.each do |comment| %>
  <div class="row comms-row">
    <div class="comms-name">
      <p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
    </div>  
            <!--time_ago_in_words is a helper that gives "an hour ago" displays-->
    <div class="rated" data-score="<%= comment.rating %>"></div>
    <div>
      <p class="rated-p"><%= comment.body %></p>
      <p class="comm-destroy"><small><%= link_to 'Destroy', product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Take a moment and think this through...  Is this what you really want?  Once you do it, there is no turning back.'} %></small>
      <% end %>
      </p>
    </div>  
  </div>   
</div>
       

