<p id="notice"><%= notice %></p>



<div class="container proshow-wrap">
  <div class="show-header">
		<p class="show-name">
			<h2><%= @product.name %></h2>
		</p>
  </div>
  <div class="show-border"></div>
  <div class="row">
	  <div class="col-xs-8 show-pic">
	  	<p>
			  <%= image_tag(@product.image_url) %>
			</p>
			<p>
				<span class="label label-primary"><%= @product.price %></span>
			</p>
	  </div>

	  <div class="col-xs-8 show-script">
      <div class="show-border"></div>
			<p class="show-description">
			  <strong>Description:</strong>
			  <%= @product.description %>
			</p>
			<p class="show-rate">
				
			</p>

	  </div>
  </div>
</div>
