<p id="notice"><%= notice %></p>
<p id="notice"><%= flash[:success] %></p>
<p id="notice"><%= flash[:error] %></p>

<div class="container show-container">
	<div class="row show-row">
	  <div class="col-sm-8 show-wrap">
	    <div class="thumbnail">
	      <%= image_tag(@product.image_url, width: "200", class: "img-responsive image img-zoom", data_zoom_image: @product.image_url) %>
	      <div class="caption">
	        <span><h3><%= @product.name %></h3></span>
	        <span class="label label-primary"><%= @product.price %></span>
	        <h6>Average Rating: <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div></h6>
	        <p class="pro-script"><%= @product.description %></p>
	       
	        
	        <%= form_tag "/payments/create" do %>
              <%= render partial: "shared/stripe_checkout_button" %>
            <% end %>
	        
	      </div>
	    </div>
	  </div>
	  <div class="comment-wrap col-sm-4">
        <%= render 'new_comment' %>
    </div>
	</div>
</div>



<div class="container comments-con">
  <div class="row comments-row">
    <div class="comments-all" id="product-reviews">
      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
	    <%= render 'comments' %>
	  </div>
	<div class="comments-pagination"><%= will_paginate @comments %>
	
    </div>  
  </div>
</div>
