<p id="notice"><%= notice %></p>


<div class="container show-container">
	<div class="row show-row">
	  <div class="col-sm-8 show-wrap">
	    <div class="thumbnail">
	      <%= image_tag(@product.image_url) %>
	      <div class="caption">
	        <h3><%= @product.name %></h3>
	        <h6>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></h6>
	        <p class="pro-script"><%= @product.description %></p>
	       
	        <span class="label label-primary"><%= @product.price %></span>
	        
	      </div>
	    </div>
	  </div>
	  <div class="comment-wrap col-sm-4">
        <%= render 'new_comment' %>
    </div>
	</div>
</div>



<div class="container comments-con">
  <div class="row comments-row">
    <div class="comments-all">
	    <%= render 'comments' %>
	</div>
	<div class="comments-pagination"><%= will_paginate @comments %>
	
    </div>  
  </div>
</div>
